<div class="row">
  <div class="small-9 small-centered medium-6 medium-centered large-6 large-centered columns">

<h4 class="text-center">Sign up for Meet Your Street</h4>        
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<form>
  <div class="row">
    <div class="large-12 columns">
    <label>Email<input type="text" placeholder="somebody@example.com">
        <%= f.email_field :email, autofocus: true %>
      </label>
    </div>
    <div class="large-12 columns">
    <label>First Name<input type="text" placeholder="First Name">
    <%= f.text_field :first_name, autocomplete: "off" %>
      </label>
    </div>
    <div class="large-12 columns">
    <label>Last Name<input type="text" placeholder="Last Name">
    <%= f.text_field :last_name, autocomplete: "off" %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns">
    <div class="field">
    <%= f.file_field :user_image %>
    </div>
    </div>
    <div class="large-6 columns">
    <%= f.text_field :remote_user_image_url %>
    </div>
  </div>


    <div class="large-12 columns">
    <label>Street<input type="text" placeholder="Streetname">
    <%= f.text_field :street, autocomplete: "off" %>
      </label>
    </div>

    <div class="large-12 columns">
    <label>City<input type="text" placeholder="e.g. London">
    <%= f.text_field :city, autocomplete: "off" %>
      </label>
    </div>

    <div class="large-12 columns">
    <label>ZIP Code<input type="text" placeholder="e.g. E9 5EA">
    <%= f.text_field :zip, autocomplete: "off" %>
      </label>
    </div>


  <div class="row">
    <div class="large-6 columns">
    <div class="field">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    </div>
    <div class="large-6 columns">
       <%= f.label :password_confirmation %>
       <%= f.password_field :password_confirmation, autocomplete: "off" %>
       <%= f.label :password %>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="husker">I offer</option>
          <option value="starbuck">I look for</option>
        </select>
      </label>
    </div>
  </div>
</div>

</form>
  <p class="button expanded"><%= f.submit "Sign up" %></p>
    

<%= render "devise/shared/links" %>
<% end %>

  </div>
</div>
