<!--     add user_image and contact-link to comment
 -->
<h3>All Comments</h3>

    <%= link_to comment.user.try(:first_name), comment.user %><br>
    <%= image_tag comment.user.user_image.thumb.url %><br>
    <%= comment.created_at.to_s(:short) %><br>
    <%= comment.comment %><br>
    <% if comment.user == current_user %>
    <%= link_to 'Delete Comment', comment_path(comment, commentable_type: commentable.class.to_s.underscore, commentable_id: commentable.id), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>

    <!--     add reply-option and threading -->
