<div class="medium-12 columns medium-centered ">
     <div class="card-content"><%= form_for @user do |f| %>
      <div class="medium-6 columns medium-centered">
        <div class="small-6 columns small-centered">
          <%= link_to image_tag(@user.user_image.thumb.url), @user.user_image.url, class: 'userimage' %>
          <%= f.file_field :user_image %>
          </div>

      <div class="field">
        <%= f.text_field :remote_user_image_url, placeholder: "Remote URL" %>
      </div>

      <div class="field">
        <%= f.text_field :first_name, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :last_name, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :street, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :city, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.text_field :zip, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= f.submit "Save", class: "button tiny" %>
      </div>
      <% end %>

      <%= link_to "Back to Profile", current_user %>
      </div>

    </div>
</div>
