<br>
<div class="row">
<div class="medium-12 columns">
<div class="card">
<div class="image"><!-- 
<h1>Your Neighbourhood <%= current_user.zip %> <%= current_user.city %></h1> -->
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=1200x100&sensor=false&zoom=12&scale=4&markers=#{current_user.latitude}%2C#{current_user.longitude}" %>
</div>
</div>
</div>
</div>
<br>
<% @users.each do |user| %>
<div class="large-3 columns ">
  <div class="panel">
   <article class="article-card">
     <div class="card-content">
       <%= link_to image_tag(user.user_image.thumb.url), user.user_image.url, class: 'userimage' %>
       <p class="post-author">
         <%= user.first_name %>
         <%= user.last_name %>
       </p>
      <p>
       <div class="actions">
         <h5 class="title"><i class="fa fa-user"></i> <%= link_to user.try(:first_name), user %></h5> 
       </div>
     </p>
    </div>
    </article>
    </div>
    </div>
    <% end %>


