<h1>Your Neighbourhood <%= current_user.zip %> <%= current_user.city %></h1>
<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{current_user.latitude}%2C#{current_user.longitude}" %>

<% @users.each do |user| %>

<%= link_to image_tag(user.user_image.thumb.url), user.user_image.url, class: 'post-icon' %>
<%= user.first_name %>
<%= user.last_name %>

<% end %>
