<div class="media-object stack-for-small">
<div class="media-object-section middle">
<div class="thumbnail">
<%= link_to image_tag(@user.user_image.thumb.url), @user.user_image.url %>
  </div>
</div>
</div>
<div class="media-object-section">
<%= @user.email %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.street %>
<%= @user.city %>
<%= @user.zip %>
<%= @user.longitude %>
<%= @user.latitude %>

</div>



<div class="actions">
  <%= link_to "Edit Profile", edit_user_path %>
  <%= link_to "Edit Account", edit_user_registration_path %>  
</div>

<div>
<h1>Posts from <%= @user.first_name %><%@user.last_name%></h1>
<% @user.posts.each do |post| %>
<div class="media-object stack-for-small">
  <div class="media-object-section">
    <div class="thumbnail">
    <%= link_to image_tag(post.image.url), post.image.url %>    
    </div>
  </div>
  </div>
  <div class="media-object-section">
    <h4><span>What:</span><br><%= post.title %></h4>
    <h5><span>Post Type:</span><br><%= post.post_type %></h5>
    <h5><span>Money:</span><br><%= post.price %></h5>
    <h5><span>Date:</span><br><%= post.created_at %></h5>
  </div>
  <% end %>
</div>
</div>






