<h1>Profile</h1>
<%= @user.email %>
<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.street %>
<%= @user.city %>
<%= @user.zip %>

<div class="actions">
  <%= link_to "Edit Profile", edit_user_path %>
  <%= link_to "Edit Account", edit_user_registration_path %>  
</div>

<div>
<%= render @user.posts %>
</div>






