



<div class="large-3 columns ">
  <div class="panel">
   <article class="article-card">
     <div class="card-content">
       <%= link_to image_tag(@user.user_image.thumb.url), @user.user_image.url, class: 'userimage' %>
       <p class="post-author">
         <%= @user.email %>
         <%= @user.first_name %>
         <%= @user.last_name %>
       </p>
       <h4>Info</h4>
       <p><%= @user.street %>
        <%= @user.city %>
        <%= @user.zip %>
        <%= @user.longitude %>
        <%= @user.latitude %>
      </p>
      <p>
       <div class="actions">
         <%= link_to "Edit Profile", edit_user_path %>
         <%= link_to "Edit Account", edit_user_registration_path %>  
       </div>
     </p>
    </div>
    </article>
    </div>
    </div>
     
    <div class="row">
    <% @user.posts.each do |post| %>
      <div class="medium-4 columns">
        <div class="card">
          <div class="content">
            <p><%= post.title %></p>
          </div>
          <div class="action">
            <div class="small-6 columns">
            <p><i class="fa fa-user"></i> <%= post.user.first_name %></p>
            <p><i class="fa fa-info"></i> <%= post.post_type %></p>
            </div>
            <div class="small-6 columns">
            <p><i class="fa fa-usd"></i> <%= post.price %></p>
            <p><i class="fa fa-calendar-o"></i> <%= post.created_at.to_s(:short) %>
            </p>
            </div>
            <div class="image">
              <%= link_to image_tag(post.image.url), post.image.url %>
              <span class="title"></span>
            </div>
            <button class="button tiny round"><%= link_to "Show Detail", post_path(post) %></button>
          </div>
        </div>
      </div>
    <% end %>
    </div>















