



<div class="large-3 columns ">
  <div class="panel">
   <article class="article-card">
     <div class="card-content">
       <%= link_to image_tag(@user.user_image.thumb.url), @user.user_image.url, class: 'userimage' %>
       <p class="post-author">
         <%= @user.email %><br>
         <%= @user.first_name %><br>
         <%= @user.last_name %><br>
       </p>
       <h4>Info</h4>
       <p><%= @user.street %><br>
        <%= @user.city %><br>
        <%= @user.zip %><br>
      </p>
      <p>
      <% if @user.email == current_user.email  %>
       <div class="actions">
         <button class="button tiny"><%= link_to "Edit Profile", edit_user_path %></button>
         <button class="button tiny"><%= link_to "Edit Account", edit_user_registration_path %></button>
       </div>
       <% end %>
     </p>
    </div>
    </article>
    </div>
    </div>
  
  <div class="row spacer" data-equalizer>
    <% @user.posts.each do |post| %>
      <div class="medium-4 columns">
        <div class="card" data-equalizer-watch>
          <div class="content">
            <p><%= post.title %></p>
          </div>
          <div class="action">
            <div class="small-6 columns">
            <p><i class="fa fa-user"></i> <%= post.user.first_name %></p>
            <p><i class="fa fa-info"></i> <%= post.post_type %></p>
            </div>
            <div class="small-6 columns">
            <p><i class="fa fa-usd"></i> <%= post.price %></p>
            <p><i class="fa fa-calendar-o"></i> <%= post.created_at.to_s(:short) %>
            </p>
            </div>
            <div class="image">
              <%= link_to image_tag(post.image.url), post.image.url %>
              <span class="title"></span>
            </div>
            <div class="action">
            <ul class="button-group">
            <button class="button tiny"><%= link_to "Show", post_path(post) %></button>
            <button class="button tiny"><%= link_to "Edit", edit_post_path(post) %></button>
            <button class="button tiny"><%= link_to "Delete", post_path(post) %>
            </button>
            </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>















