<div class="row">
<div class="small-9 columns">
   <article class="article-card">
     <div class="card-content">
       <%= link_to image_tag(@user.user_image.thumb.url), @user.user_image.url, class: 'post-icon' %>
       <p class="post-author">
         <%= @user.email %>
         <%= @user.first_name %>
         <%= @user.last_name %>
       </p>
       <h4>Info</h4>
       <p><%= @user.street %>
        <%= @user.city %>
        <%= @user.zip %>
        <%= @user.longitude %>
        <%= @user.latitude %>
      </p>
      <p>
       <div class="actions">
         <%= link_to "Edit Profile", edit_user_path %>
         <%= link_to "Edit Account", edit_user_registration_path %>  
       </div>
     </p>
     <p>
      <h4>Posts from <%= @user.first_name %><%@user.last_name%></h1>
        <% @user.posts.each do |post| %></h4>
        <p>
          <div>
            <%= link_to image_tag(post.image.url), post.image.url %>    
          </div>
          <h4><span>What:</span><br><%= post.title %></h4>
          <h5><span>Post Type:</span><br><%= post.post_type %></h5>
          <h5><span>Money:</span><br><%= post.price %></h5>
          <h5><span>Date:</span><br><%= post.created_at %></h5>
          <% end %>
        </p>
      </p>
    </div>
  </article>
</div>










