<div class="row">
<div>
  <div class="medium-4 columns data-equalizer info"><i class="fa fa-users fa-3" aria-hidden="true"></i><br>Connect with your neighbours and get things done
  </div>
</div>
  <div class="medium-4 columns data-equalizer-watch info"><i class="fa fa-check" aria-hidden="true"></i><br>Only real neighbours are allowed
  </div>
  <div class="medium-4 columns data-equalizer-watch info"><i class="fa fa-lock fa-3" aria-hidden="true"></i><br>Your posts are only accessible by your neighbours
  </div>
</div>
<div class="row">
  <div class="medium-12 medium-centered columns data-equalizer-watch add"><i class="fa fa-plus fa-3" aria-hidden="true"></i><br><%= link_to "Add Post", new_post_path %></div>
</div>
<div class="row">
  <div class="medium-12 medium-centered columns data-equalizer-watch"></div>
  <%= search_form_for @q do |f| %>
  <form>
    <fieldset>
      <legend>Check Who else from your Neighbourhood is on Meet Your Street</legend>
      <label>
          <p>
            <%= f.label :street_cont %>
            <%= f.search_field :street_cont %>
          </p>
          <p>
            <%= f.submit %>
          </p>
      </label>
    </fieldset>
  </form>
  <% end %>
</div>


