<div class="large-6 columns large-centered ">
    <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :user_image %>
      <%= f.file_field :user_image %>
    </div>

    <div class="field">
      <%= f.label :remote_image_url %>
      <%= f.text_field :remote_image_url %>
    </div>

    <div class="field">
      <%= f.label :post_type %>
      <%= f.select :post_type, ['I look_for', 'I offer'] %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.number_field :price, step: 0.01 %>
    </div>

    <div class="actions">
      <%= f.submit "Save", class: "button tiny" %>
    </div>
    <% end %>

    <%= link_to "Profile", current_user %>
</div>
