<!-- include area posts and users belong to
 -->

<div id="posts" class="transitions-enabled">
<div class="box">

<% @posts.each do |post| %>
    <%= link_to image_tag(post.image.url), post.image.url %>   
    <p><span>What:</span><br><%= post.title %></p>
    <p><span>Post Type:</span><br><%= post.post_type %></p>
    <p><span>Money:</span><br><%= post.price %></p>
    <p><span>Date:</span><br><%= post.created_at %></p>
<!--     <%= link_to "Comments", comments_path %>
 -->  <% end %>
  </div>

</div>

