<div class="row">
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <% for message in @post.errors.full_messages %>
      <div class="alert alert-danger" role="alert">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image, class: "file-upload" %>
    <%= f.text_field :remote_image_url, placeholder: "Image URL" %>
  </div>

  <div class="field">
    <%= f.label :post_type %>
    <%= f.select :post_type, ['I look for', 'I offer'] %>
  </div>

  <div class="field">
    <%= f.label :Money %>
    <%= f.number_field :price, step: 0.50 %>
  </div>

 <%= f.submit "Add Post", class: "button radius" %>

<% end %>
</div>
