<div class="media-object stack-for-small">
  <div class="media-object-section">
    <div class="thumbnail">
    <%= link_to image_tag(@post.image.url), @post.image.url %>   
    </div>
  </div>
  </div>
  <div class="media-object-section">
    <h4><span>What:</span><br><%= @post.title %></h4>
    <h5><span>Post Type:</span><br><%= @post.post_type %></h5>
    <h5><span>Money:</span><br><%= @post.price %></h5>
    <h5><span>Date:</span><br><%= @post.created_at %></h5>
  </div>
</div>
  
<% if @post.user == current_user %>
<%= link_to "Edit Post", edit_post_path %>
<%= link_to "Destroy", @post, method: :delete, data: {confirm: "Are you sure you want to Delete the Post?"} %>
<%= link_to "Profile", current_user %>
<% end %>

<div>
<%= render partial: 'comments/form', locals: { commentable: @post } %>
</div>
<div>
<%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @post } %>
</div>
