<h1>Post</h1>
<%= @post.title %>
<%= image_tag @post.image.url %>
<%= @post.post_type %>
<%= @post.price %>


<div class="actions">
  <%= link_to "Edit Post", edit_post_path %>
</div>

<div>
<%= link_to "Profile", current_user %></div>
