<!-- include area posts and users belong to
 -->

 <!-- Nav Sidebar -->
     <!-- This is source ordered to be pulled to the left on larger screens -->
     <div class="large-3 columns ">
       <div class="panel">
         <%= link_to image_tag(@post.image.url), @post.image.url %>
         <h5><p><%= @post.title %></p></h5>
           <div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
           <section class="section">
           <h5 class="title"><i class="fa fa-user"></i> <%= link_to @post.user.try(:first_name), @post.user %></h5>
           <h5 class="title"><i class="fa fa-paper-plane"></i> <%= mail_to @post.user.email, "Email" %></h5>
          </section>
           <section class="section">
             <h5 class="title"><i class="fa fa-info"></i> <%= @post.post_type %></h5>
           </section>
           <section class="section">
             <h5 class="title"><i class="fa fa-usd"></i> <%= @post.price %></h5>
           </section>
           <section class="section">
             <h5 class="title"><i class="fa fa-calendar-o"></i> <%= @post.created_at.to_s(:short) %></h5>
           </section>
         </div>
       </div>
     </div>
     
     <!-- Main Feed -->
     <!-- This has been source ordered to come first in the markup (and on small devices) but to be to the right of the nav on larger screens -->
     <div class="large-9 columns">
       <%= render partial: 'comments/comment', collection: @comments, locals: { commentable: @post } %>
       <%= render partial: 'comments/form', locals: { commentable: @post } %>

       </div>




