  <nav class="top-bar" data-topbar role="navigation">

    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Meet Your Street</a></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="has-dropdown">
            <% if current_user %>
               <%= link_to "Profile", current_user %>
            <% else %>
               <%= link_to "Account", new_user_session_path %>
            <% end %> 
          <ul class="dropdown">
          <% if current_user %>
             <li class="active"><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
          <% else %>
             <li class="active"><%= link_to "Sign Up", new_user_session_path %></li>
             <li class="active"><%= link_to "Register", new_user_registration_path %></li>
          <% end %> 
          </ul>
        </li>
      </ul>

      <!-- Left Nav Section -->
      <ul class="left">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Posts", posts_path %></li>
      <li><%= link_to "Add Post", new_post_path %></li>
      <li>  <%= search_form_for @q do |f| %>
            <%= f.button :HoodChecker , class: "fa fa-map-marker button round" %>
  <% end %></li>

      </ul>
    </section>


    </div>
  </nav>